In [1]:
import pandas as pd
from astropy.table import QTable
from matplotlib import pyplot as plt

In [2]:
from astropy.io import ascii

In [9]:
data = ascii.read('file:///C:/Users/Leona/Desktop/UGC07603_rotmod.dat')

Downloading file:///C:/Users/Leona/Desktop/UGC07603_rotmod.dat [Done]

In [10]:
data

<Table length=12>
  col1    col2    col3    col4    col5    col6    col7    col8
float64 float64 float64 float64 float64 float64 float64 float64
------- ------- ------- ------- ------- ------- ------- -------
   0.34    19.6    2.89    4.29   19.73     0.0   106.8     0.0
   0.68    32.5    2.89    6.17    28.0     0.0   66.32     0.0
   1.02    41.9    2.89    5.94   31.57     0.0   28.35     0.0
   1.37    50.6    2.89    8.81   31.98     0.0   17.64     0.0
   1.71    57.0    2.89   15.21   31.44     0.0     8.3     0.0
   2.05    60.5    2.89   17.87   29.65     0.0    4.37     0.0
   2.39    60.5    2.89   17.46   27.89     0.0     2.3     0.0
   2.74    60.0    2.89   15.96   26.14     0.0    1.18     0.0
   3.08    61.5    2.89   15.55   24.58     0.0    0.62     0.0
   3.42    61.5    2.89   16.29   23.19     0.0    0.33     0.0
   3.76    63.0    2.89   16.96   21.99     0.0    0.17     0.0
   4.11    64.0    2.89   17.21   20.84     0.0     0.0     0.0

In [2]:
Raio = data['col1']
Vstars = data['col2']
erro = data['col3']

NameError: name 'data' is not defined

<QTable length=1>
  col0    col1    col2    col3    col4  ...   col8    col9   col10   col11
float64 float64 float64 float64 float64 ... float64 float64 float64 float64
------- ------- ------- ------- ------- ... ------- ------- ------- -------
   0.34    0.68    1.02    1.37    1.71 ...    3.08    3.42    3.76    4.11