In [1]:
from astropy.table import Table

In [2]:
data_rows = [(1, 2.0, 'x'), (4, 5.0, 'y'), (5, 8.2, 'z')]

In [3]:
t = Table(rows=data_rows, names=('a', 'b', 'c'), meta={'name':'primeira tabela'})

In [5]:
t['a'].unit = 'Metros'
t['b'].unit = 'Grama'
t['c'].unit = 'Variavel'

In [11]:
t['b'].format = '53f'

In [12]:
t

<Table length=3>
  a                              b                              c
Metros                         Grama                         Variavel
int32                         float64                          str1
------ ----------------------------------------------------- --------
     1                                              2.000000        x
     4                                              5.000000        y
     5                                              8.200000        z

In [14]:
len(t)

3

In [15]:
t['a']

<Column name='a' dtype='int32' unit='Metros' length=3>
1
4
5

In [16]:
t['a']

<Column name='a' dtype='int32' unit='Metros' length=3>
1
4
5

In [17]:
t['a'][1]

4

In [18]:
t[1]

<Row index=1>
  a                              b                              c
Metros                         Grama                         Variavel
int32                         float64                          str1
------ ----------------------------------------------------- --------
     4                                              5.000000        y

In [19]:
print(t[0:2])

  a                              b                              c
Metros                         Grama                         Variavel
------ ----------------------------------------------------- --------
     1                                              2.000000        x
     4                                              5.000000        y

In [20]:
print(t['a', 'c'])

  a       c
Metros Variavel
------ --------
     1        x
     4        y
     5        z